/*=======================================================
			Page Loader
========================================================*/

.red{
	color: red;
}
.thumb{
	background: #f7f7f7;
    padding: 25px;
    border-bottom: none;
    text-align: center;
    display: inline-block;
    min-height: 350px;
    width: 100%;
    margin-bottom: 3rem;
    transition: 0.4s ease-in-out;
}


.padding{
	padding: 2rem 0;
    font-size: 29px;
    margin: 0px;
    padding-top: 25px;
    color: #666;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
}
.padding1{
	padding: 2rem 0;
    font-size: 29px;
    margin: 0px;
    padding-top: 25px;
    color: white;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
}
.light_gray_bg {
    background: #f7f7f7 !important;
}
/* home */
/* 
.thumb:hover{
    background: #0056b3;
} */
.thumb.product_text:hover{
    color: white;
}
/* .hover_file .btn_sm span:hover{
    color: #fff;
}
.hover_file .product_text:hover{
    color: #fff;
} */
.product_text{
    font-weight: bold;
    font-size: 21px;
    margin: 0px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.btn_sm{
    height: 29px;
    line-height: 19px;
    padding-left: 0px;
    padding-right: 10px;
    font-weight: 100;
    margin-top: 10px;
    min-width: 110px;
    background-color: #005faf;
    color: #fff;
    border-color: #005faf;
    font-weight: 600;
    font-size: 11px;
    text-transform: capitalize;
}
.btn_sm span{
    position: relative;
    font-size: 12px;
    padding: 0;
    margin: 0;
    bottom: 7px;
    left: 12px;
}
.read_icon{
    line-height: 28px;
    padding: 0 6px;
    font-size: 25px;
    color: #005faf;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    position: relative;
    bottom: 3px;
    left: 7px;
}
.h_125{
    font-size: 15px;
    cursor: auto;
    min-height: 125px;
    font-weight: 400;
    color: #6f6f6f;
    line-height: 24px;
}
/* navigation */
.nav_link{
    font-size: 14px;
    color: #333333 !important;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    margin: 0 7px;
    z-index: 999;
    text-transform: uppercase;
}
.nav_link:hover{
    background-color: #005faf;
    color: #fff !important;
    border-color: #005faf;
}

.text_center{
    text-align: center;
}
.category{
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
   padding: 2.5rem 0;
    min-width: 205px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 15px 0 rgb(167 174 189 / 30%);
}
.list_icon{
    margin-bottom: 2rem;
    font-size: 27px;
    color: #005faf;
}
.btn-primary {
    color: #fff;
    background-color: #005faf !important;
    border-color: #005faf !important;
}
.paragraph{
    /* padding: 2rem 2rem 0 2rem; */
    margin-bottom: 0;
    color: #000;
    font-size: 14px;
}
::ng-deep .list_group_item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem !important;
    background-color: transparent !important;
    border: none !important;
}
.list-group-item{
    padding: .75rem 0.55rem;
}
.table{
    margin-bottom: 0 !important;
}
.padding_none{
    padding: 0 !important;
}
.padding_10{
    padding: 10px;
}
.border_none {
    border: none !important;
}
.margin_10{
    margin: 10px 0;
    padding: 5px;
    width: 100%;
}
.clients {
    background: #005faf;
    text-align: center;
}
.white{
    color: white;
}
.img_line{
    width: 100% !important;

    border: 5px solid #d8e7ff !important;
  
}
.section{
    margin: 1rem 0;
}
.footer {
    background: #343434;
    padding: 50px 0;
}
.gray_color{
    color: #999999;
    font-weight: 600;
}

.foot_title{
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}


.size{
    color: #55b0ed;
    position: relative;
    top: 3px;
    font-size: 20px;
    padding-right: 5px;
}


.list li:hover{
    color: #fff;
    cursor: pointer;
}
.round{
    border-radius: 4px;
}
.round1{
    border-radius: 4px;
    margin-top: 10px;
}

/* About us page */
.sub_bnr {
    background: url(/images/bg/abg.png) no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 230px;
}

.mission_box{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    margin-bottom: 1rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
    min-height: 330px;
}
.mission_box_title{
    font-size: 17px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.mission_card_body{
    flex: 1 1 auto;
    padding: 50px;
    text-align: center;
}
.mission_content{
    font-size: 15px;
    padding: 1rem;
    min-height: 70px;
    text-align: center;
}
.person{
    border: 5px solid #cecaca !important;
    box-sizing: border-box;
    float: right;
    clear: right;
    margin: 10px;
    border-radius: 6px;
    text-align: justify;
    font-size: 14px;
    width: 100%;
    padding: 0;
}

/* products page */

.product_bnr{
    background: url(/images/bg/Products.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 230px;
}

.product_content{
    padding: 1rem 0;
}


/* services page */
.services_bnr{
    background: url(/images/bg/Services.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 230px;
}


.service_card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 2rem 0rem 0rem 2rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border: 4px double rgba(0,0,0,.125);
    margin: 10px;
}
.service_title{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.service_content{
    text-align: justify;
    padding: 15px 15px 15px 0;
}
/* careers */
.careers_bnr{
    background: url(/images/bg/About.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 230px;
}
.product_image{
    width: 100%;
}
.pro_image{
    width: 100%;
}
.job_box{
    background: #FFF;
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    text-align: center;
}
.job_content{
    padding: 0 10px;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    width: 100%;
}
.bg_primary{
    background-color: #005faf;
    color: #fff;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.job_list{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.modal_icon{
    font-size: 25px;
    padding-right: 2px;
}

/* contact us */
.contact_bnr{
    background: url(/images/bg/contact.jpg) no-repeat;
    background-size: cover;
    margin-top: 6.5rem;
}
.bg_black{
    background-color: rgba(0, 0, 0, 0.46);
    padding: 20px;
}
.bg_black h1 {
    font-size: 29px;
    margin: 0px;
    padding-top: 25px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.bg_black h2 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.contact_info{
    background: rgba(255,255,255,0.8);
    padding: 40px;
    text-align: center;
    min-height: 355px;
}
.contact_info h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #666;
}
.tech{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bolder;
    color: #666;
    margin: 0;
}
.contact_info h2{
    color: #666;
    font-size: 20px;
    text-transform: uppercase;
}
.mail ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.mail ul li{
    display: inline-block;
}
.mail_icon{
    font-size: 12px;
    color: #666;
    transform: rotate(106deg);
    position: relative;
    bottom: 2px;
}
.envelope_icon{
    color:#005faf;
}
.slide{
    margin-top: 6.5rem;
}
.slide img{
    width: 100%;
}
.shadow{
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}
.margin{
    margin: 2rem 0;
}
.img{
    width: 100%;
}
.counter{
    background: #005faf;
    text-align: center;
}
.padding_top{
    font-size: 29px;
    margin: 0px;
    padding-top: 25px;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.slide_ver{
    background-color: #fff;
}

/* slides */

@media(max-width:767px){
    .web_view{
        display: none !important;
  
    }
    .mobile_view{
        display: block !important;
    }
  }
  @media(min-width:768px){
    .web_view{
        display: none !important;
  
    }
    .mobile_view{
        display: block !important;
    }
  }
  @media(min-width:992px){
    .web_view{
        display: block !important;
  
    }
    .mobile_view{
        display: none !important;
    }
  }
  @media(min-width:1200px){
    .web_view{
        display: block !important;
  
    }
    .mobile_view{
        display: none !important;
    }
  }
  .client_inside{
      list-style-type: none;
      background-color: #fff;
  }
  .client_inside li{
      display: inline-block;
      
  }
  .text_white{
      color: white;
      margin-bottom: 1rem;
  }
  .social{
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      text-align: center;
  }
  .social li{
      display: inline-block;
      margin: 0 3px;
  }
  .social1{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
.social1 li{
    display: inline-block;
    margin: 0 3px;
}

.form_control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.text_right{
    text-align: right;
}
.card_header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    font-weight: 600;
    background-color: rgb(234 234 234);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.label{
    font-weight: 600;
    width: 100%;
}

  .label_mtr{
    font-weight: 600;
    width: 100%;
}
.label_mtr:after {
    content:" *";
    color: red;
  }

.checkmark__circle {
    stroke-dasharray: 248;
    stroke-dashoffset: 248;
    stroke-width: 50px;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
  .was{
    position: relative;
    bottom: 52px;
    color: green;
  }


  .main_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .main_list li {
      display: inline-block;
      width: 50%;
    }
  
  @media screen and (min-width: 20em) {
  
    .main_list li {
        width: 18.33333%;
        margin: 0px 9px;
        min-width: 200px;
    }
  
  }
  @media(max-width:500px){
    .list{
        list-style-type: none;
        position: unset;
       
    }
    .foot_list{
        text-align: center;
    }
 
    .foot_title{
        text-align: center;
    }
    .sec_content{
        font-size: 25px;
    }
    .sub_bnr {
        min-height: 250px;
        margin-top: 3.5rem;
    }
    .inner_title{
        font-size: 22px;
    }
    .service_title{
        font-size: 22px;
    }
    .left_side{
        position: relative;
        left: 0px;
    }
  }

  @media(max-width:767px){
    .list{
        list-style-type: none;
        position: unset;
       
    }
    .foot_list{
        text-align: center;
    }
    .foot_title{
        text-align: center;
    }
    .sec_content{
        font-size: 25px;
    }
    .sub_bnr {
        min-height: 250px;
        margin-top: 3.5rem;
    }
    .inner_title{
        font-size: 23px;
    }
    .service_title{
        font-size: 23px;
    }
    .left_side{
        position: relative;
        left: 0px;
    }
  }
@media(min-width:768px){
    .left_side{
        position: relative;
        left: 30px;
    }
    .list{
        list-style-type: none;
        position: unset;
     
    }
    .foot_list{
        text-align: center;
    }
    .foot_title{
        text-align: center;
    }
    .sec_content{
        font-size: 32px;
    }
    .sub_bnr {
        min-height: 250px;
        margin-top: 3.5rem;
    }
    .product_bnr{
        min-height: 250px;
        margin-top: 3.5rem;
    }
    .services_bnr{
        min-height: 250px;
        margin-top: 3.5rem;
    }
    .careers_bnr{
        min-height: 250px;
        margin-top: 3.5rem;
    }
    .inner_title{
        font-size: 25px;
    }
    .service_title{
        font-size: 25px;
    }
}
@media(min-width:992px){
    .left_side{
        position: relative;
        left: 350px;
    }
    .list{
        list-style-type: none;
        position: relative;
        left: 40px;
    }
    .foot_list{
        text-align: left;
    }
    .foot_title{
        text-align: left;
    }
    .sec_content{
        font-size: 42px;
    }
    .sub_bnr {
        min-height: 380px;
        margin-top: 6.5rem;
    }
    .product_bnr{
        min-height: 380px;
        margin-top: 6.5rem;
    }
    .services_bnr{
        min-height: 380px;
        margin-top: 6.5rem;
    }
    .careers_bnr{
        min-height: 380px;
        margin-top: 6.5rem;
    }
    .inner_title{
        font-size: 27px;
    }
    .service_title{
        font-size: 27px;
    }
}
@media(min-width:1200px){
    .left_side{
        position: relative;
        left: 350px;
    }
    .list{
        list-style-type: none;
        position: relative;
        left: 40px;
    }
    .foot_list{
        text-align: left;
    }
    .foot_title{
        text-align: left;
    }
    .sec_content{
        font-size: 52px;
    }
    .sub_bnr {
        min-height: 380px;
        margin-top: 6.5rem;
    }
    .product_bnr{
        min-height: 380px;
        margin-top: 6.5rem;
    }
    .services_bnr{
        min-height: 380px;
        margin-top: 6.5rem;
    }
    .careers_bnr{
        min-height: 380px;
        margin-top: 6.5rem;
    }
    .inner_title{
        font-size: 29px;
    }
    .service_title{
        font-size: 29px;
    }

}
.foot_title1{
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 7px;
}
.foot_list{
    font-size: 14px;
    margin: 0px;
    padding: 4px;
    color:#999999;
}
.sec_content{
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
    top: 150px;
    margin-top: 0%;
}
.inner_title{
    padding: 2rem 0;
    margin: 0px;
    padding-top: 25px;
    color: #666;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.input[type=number]::-webkit-inner-spin-button, 
.input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    
}
.dropdown_nav{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 7;
    font-size: 14px;
    color: #333 !important;
}

 :ng-deep .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #212529 !important;
}
.basic_nav_dropdown{
    color: #212529 !important;
}
.dropdown_nav_li{
    padding: 10px 24px;
}
.service_image{
    padding: 1rem;
}
.cgseTX{
    z-index: 9999  !important;
}
.foot_list a{
    color: #fff !important;
    text-decoration: none !important;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}
.select {
    word-wrap: normal;
    margin-top: 8px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.selected {
    color: #005faf !important;
}
.active{
    color: #005faf !important;
}